@model eShopSolution.ViewModels.System.Users.LoginRequest
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var culture = CultureInfo.CurrentCulture.Name;
}
<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li class="active">Login</li>
</ul>
<h3> Login</h3>
<hr class="soft" />

<div class="row">
    <div class="span4">
        <div class="well">
            <h5>CREATE YOUR ACCOUNT</h5><br />
            Enter your e-mail address to create an account.<br /><br /><br />
            <form action="register.html">

                <div class="controls">
                    <a href="/@culture/Account/Register" class="btn block">Create Your Account</a>
                </div>
            </form>
        </div>
    </div>
    <div class="span1"> &nbsp;</div>
    <div class="span4">
        <div class="well">
            <h5>ALREADY REGISTERED ?</h5>
            <form action="/@culture/Account/Login" method="post">
                <div class="control-group">
                    <label class="control-label" for="inputEmail1">Email</label>
                    <div class="controls">
                        <input class="span3" type="text" asp-for="UserName" placeholder="Email">
                        <span asp-validation-for="UserName" class="text-error"></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPassword1">Password</label>
                    <div class="controls">
                        <input type="password" class="span3" asp-for="Password" placeholder="Password">
                        <span asp-validation-for="Password" class="text-error"></span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn">Sign in</button> <a href="forgetpass.html">Forget password?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>	