@model eShopSolution.ViewModels.System.Users.RegisterRequest
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a href="index.html">Home</a> <span class="divider">/</span></li>
    <li class="active">Registration</li>
</ul>
<h3> Registration</h3>
<div class="well">
    <!--
    <div class="alert alert-info fade in">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
     </div>
    <div class="alert fade in">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
     </div>
     <div class="alert alert-block alert-error fade in">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Lorem Ipsum is simply</strong> dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
     </div> -->
    <form asp-action="Register" asp-controller="Account" method="post" class="form-horizontal">
        <h4>Your personal information</h4>
        <div asp-validation-summary="All" class="text-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputFname1">First name <sup>*</sup></label>
            <div class="controls">
                <input type="text" asp-for="FirstName" placeholder="First Name">
                <span asp-validation-for="FirstName" class="text-error"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputLnam">Last name <sup>*</sup></label>
            <div class="controls">
                <input type="text" asp-for="LastName" placeholder="Last Name">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="input_email">Date <sup>*</sup></label>
            <div class="controls">
                <input type="date" asp-for="Dob" placeholder="Email">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="input_email">Email <sup>*</sup></label>
            <div class="controls">
                <input type="email" asp-for="Email" placeholder="Email">
                <span asp-validation-for="Email" class="text-error"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPassword1">User Name <sup>*</sup></label>
            <div class="controls">
                <input type="text" asp-for="UserName" placeholder="User Name">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPassword1">Password <sup>*</sup></label>
            <div class="controls">
                <input type="password" asp-for="Password" placeholder="Password">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPassword1">Confirm Password <sup>*</sup></label>
            <div class="controls">
                <input type="password" asp-for="ConfirmPassword" placeholder="Confirm Password">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="mobile">Mobile Phone </label>
            <div class="controls">
                <input type="text" asp-for="PhoneNumber" placeholder="Mobile Phone" />
            </div>
        </div>

        <p><sup>*</sup>Required field	</p>

        <div class="control-group">
            <div class="controls">
                <input type="hidden" name="email_create" value="1">
                <input type="hidden" name="is_new_customer" value="1">
                <input class="btn btn-large btn-success" type="submit" value="Register" />
            </div>
        </div>
    </form>
</div>